# Python
**/__pycache__/
**/venv/
**/.venv/
**/myvenv/

# PyInstaller
**/*.manifest
**/*.spec

# frontend
**/node_modules/
**/*.local
**/logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# General
**/.vscode/
**/build_tmp/
**/build/
**/dist/
**/dist-ssr/
**/*.log

#Key Sensor
**/*.pub
**/*.key
